<%- include('partials/header', {title: "Error", currentPage: "/error"}) %>
<main>
  <section class="error">
    <div class="blue__place error__container">
      <h1 class="title--text">Oops, something went wrong</h1>
      <p class="normal--text">Reload the page and try again.</p>
    </div>
    <a href="/" class="error__home button--general">Home</a>
  </section>
</main>
<%- include('partials/footer') %>
